doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title PPI calculator
		meta(name='description', content='PPI calculator')
		meta(name='author', content='Marc Hein')
		meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no, viewport-fit=cover')
		meta(name='apple-mobile-web-app-capable', content='no')
		meta(name='referrer', content='no-referrer')
		meta(name='msapplication-TileColor', content='#cdcdcd')
		meta(name='msapplication-TileImage', content='images/icons/mstile-144x144.png')
		meta(name='theme-color', content='#ffffff')
		link(rel='shortcut icon', type='image/jpg', href='images/ppi.jpg')
		link(rel='stylesheet' href='style/style.css', id='webStyle')
		link(rel='apple-touch-icon', sizes='180x180', href='images/icons/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='images/icons/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='images/icons/favicon-16x16.png')
		link(rel='manifest', href='images/icons/site.webmanifest')
		link(rel='mask-icon', href='images/icons/safari-pinned-tab.svg', color='#7a7a7a')
		link(rel='shortcut icon', href='images/icons/favicon.ico')

	body
		#container
			#header
				img.logo(src="images/ppi.jpg")
				h1 A ppi calculator written in JavaFX
			#content.box
				block content
			#footer.box 
				#imprintlinks #[a(href="https://marc-hein.de/impressum.html") Impressum]&nbsp;-&nbsp;#[a(href="https://marc-hein.de/datenschutz.html") Datenschutz]
				#copyright &copy; 2018 #[a(href="https://marc-hein.de") Marc Hein]
		script(src="js/main.js")
