@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/open-sans-v15-latin-regular.eot');
	/* IE9 Compat Modes */
	src: local('Open Sans Regular'), 
		local('OpenSans-Regular'), 
		url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
		url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ 
		url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */ 
		url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ 
		url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

body {
	font-family: 'Open Sans', sans-serif;
	font-size: medium;
	padding: 10px;
}

#container {
	margin: 0 auto;
	max-width: 700px;
}

#header {
	text-align: center;
}

#content {
	padding: 10px;
	margin: 0 auto;
}

img {
    display: block;
	margin: 0 auto;
	width: 100%
}

h2 {
	margin-top: 0;
}

a {
	color: darken(#0a7eff, 10%);
}

a:hover {
	color: lighten(#0a7eff, 10%);
	text-decoration: none;
}